<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Sistema de Tarefas</h1>
    <a href="{{ url_for('adicionar') }}">Adicionar Tarefa</a>
    <ul>
        {% for tarefa in tarefas %}
            <li>{{ tarefa['descricao'] }} 
                {% if tarefa['concluida'] %}(Concluída){% else %}
                <a href="{{ url_for('concluir', id=tarefa['id']) }}">Concluir</a> | 
                <a href="{{ url_for('deletar', id=tarefa['id']) }}">Deletar</a>{% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>