{% extends 'base.html' %}
{% block content %}
    <h2>Tarefas</h2>
    <ul id="lista-tarefas">
        {% for tarefa in tarefas %}
            <li class="tarefa {% if tarefa['concluida'] %}concluida{% endif %}">
                {{ tarefa['descricao'] }}
                <div class="actions">
                    <a href="{{ url_for('editar', id=tarefa['id']) }}">Editar</a>
                    <a href="{{ url_for('deletar', id=tarefa['id']) }}" onclick="return confirm('Tem certeza que quer deletar?')">Deletar</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}